body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input[type=button], input[type=submit] {
	border : solid 1px #288c1a;
	border-radius : 20px 3px 20px 4px ;
	moz-border-radius : 20px 3px 20px 4px ;
	-webkit-box-shadow : 0px 0px 1px rgba(0,0,0,0.7);
	-moz-box-shadow : 0px 0px 1px rgba(0,0,0,0.7);
	box-shadow : 0px 0px 1px rgba(0,0,0,0.7);
	font-size : 20px;
	color : #ffffff;
	padding : 1px 17px;
	background : #31fa1e;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#31fa1e), color-stop(100%,#30ab00));
	background : -moz-linear-gradient(top, #31fa1e 0%, #30ab00 100%);
	background : -webkit-linear-gradient(top, #31fa1e 0%, #30ab00 100%);
	background : -o-linear-gradient(top, #31fa1e 0%, #30ab00 100%);
	background : -ms-linear-gradient(top, #31fa1e 0%, #30ab00 100%);
	background : linear-gradient(top, #31fa1e 0%, #30ab00 100%);
}

input[type=button]:disabled, input[type=submit]:disabled {
	border : solid 1px black;
	border-radius : 20px 3px 20px 4px ;
	moz-border-radius : 20px 3px 20px 4px ;
	-webkit-box-shadow : 0px 0px 1px rgba(0,0,0,0.7);
	-moz-box-shadow : 0px 0px 1px rgba(0,0,0,0.7);
	box-shadow : 0px 0px 1px rgba(0,0,0,0.7);
	font-size : 20px;
	color : #ffffff;
	padding : 1px 17px;
	background : grey;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,grey), color-stop(100%,lightgrey));
	background : -moz-linear-gradient(top, grey 0%, lightgrey 100%);
	background : -webkit-linear-gradient(top, grey 0%, lightgrey 100%);
	background : -o-linear-gradient(top, grey 0%, lightgrey 100%);
	background : -ms-linear-gradient(top, grey 0%, lightgrey 100%);
	background : linear-gradient(top, grey 0%, lightgrey 100%);
}

.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
}

a {
  color: #00B7FF;
}

main {
  margin: 0 auto;
  width: 1024px;
}

#notesList .notes .note {
  width: 400px;
  padding: 5px;
  margin: 10px 0;
}

#notesList .notes .note .title {
  font-weight: bold;
}

#notesList .notes .note .sqlQuery {
  font-weight: bold;
}

.table {
  display: table;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  padding: 2px;
}

.form .rightBtns {
  margin-top: 5px;
  text-align: right;
}

#manual {
  width: 1024px;
  background-color: #690;
  color: white;
  font-weight: bold;
  padding: 5px 25px;
  margin: 5px 0;
  border: 2px solid black;
}

.form {
  border: 1px solid black;
  margin: 10px 0;
  padding: 5px;
  display: none;
}

.form.visible {
  display: table;
}

.hide {
  display: none;
}

.important {
  color: lightgreen;
  font-weight: bold;
}
