<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <iframe src="html/hiddenIframe.html" width="1" height="1" style="position: absolute; top: -1000px; left: -1000px;">
    </iframe>
  </body>
</html>
