<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <p class="intro">
        Witaj na localhost:3001.
      </p>
      <p class="intro">
        Stronie z największym wyborem darmowych filmów i seriali!
      </p>
    </main>

    <iframe src="htmls/hiddenIframe.html" width="1" height="1" style="position: absolute; top: -1000px; left: -1000px;">
    </iframe>
  </body>
</html>
